@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    /* colors */
    --primary: #00B0D7;
    --accent: #FF6060;
    --dark: #001B2F;
    --light: #fff;
    --display__light: #fafafa;
    --actions__light: #E9F6FF;
    --display__dark: #00223A;
    --actions__dark: #001B2F;

    /* Transition */
    --transition: all 0.3s ease-in-out;
}

*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
/*Calculator*/
.calculator {
    position: relative;
    width: 320px;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: 8px 32px 64px rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}
.calculator__display {
    padding: 20px 24px;
    padding-bottom: 44px;
    margin-bottom: -24px;
    background-color: var(--display__light);
    text-align: right;
    transition: var(--transition);
}
.calculator__history {
    font-size: 24px;
    height: 33px;
}
.calculator__history strong{
    font-weight: 400;
    color: var(--accent);
}
.calculator__total {
    font-size: 32px;
    font-weight: 600;
    height: 42px;
}
.calculator__actions {
    padding: 16px; 
    padding-bottom: 32px; 
    border-radius: 20px;
    background-color: var(--actions__light);
    font-size: 24px;
    transition: var(--transition);
}
.calculator__history-panel {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 24px;
    height: 100%;
    background-color: var(--light);
    color: var(--dark);
    transition: var(--transition);
}
.calculator__history-content > div:not(:last-child) {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--dark);
}
.calculator__history-panel.open {
    top: 0;
}
.calculator__history-content {
     text-align: right;
}
.calculator__history-close {
    --size: 20px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: calc(var(--size) / 1.4);
    line-height: calc(var(--size)/ 1.1);
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--light);
    
}
.calculator__row {
    display: flex;
    justify-content: space-between;
}
.calculator__col {
    --size: 64px;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator__col img {
    pointer-events: none; /* так как история отслеживается как картинка надо было её заблокировать этим тегом*/
}
.calculator__col__reset {
    color: var(--accent);
}
.calculator__col__action {
    color: var(--primary);
}
/* Calculator dark theme */
.calculator__dark{
    color: var(--light);
}
.calculator__dark .calculator__display {
    background-color: var(--display__dark);
}
.calculator__dark .calculator__actions {
    background-color: var(--actions__dark);
}
.calculator__dark .calculator__history-panel {
    background-color: var(--dark);
    color: var(--light);
}
.calculator__dark .calculator__history-close {
    background-color: var(--dark);
}
.calculator__dark .calculator__history-content > div:not(:last-child) {
    border-color: var(--light);
}
/* theme */
.theme {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    font-size: var(--size);
    cursor: pointer;
    /* outline: 1px solid red; */
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    overflow: hidden;
    align-items: center;
    color: var(--light);
    transition: var(--transition);
}
.theme.i {
    transition: var(--transition);
}
.theme_dark {
    color: var(--dark);
}
.theme_dark i:first-child {
    margin-left: calc(var(--size) * -1);
}
.copyright {
    margin-top: 40px;
    font-size: 14px;
    color: gray;
    text-align: center;
    margin-bottom: 30px;
}